
@font-face {
    font-family: Pokemon2;
    src: url(fonts/PokemonSolid.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pokemon2";
}

body {
    height: 100vh;
    background-color: #000000;
    background-image: url('https://images.unsplash.com/photo-1638613067237-b1127ef06c00?auto=format&fit=crop&q=80&w=1332&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.logo{
    width: 50%; /* Ancho deseado */
    height: auto; /* Mantiene la proporción de aspecto */
}

.contenedor {
    text-align: center;
}
.search {
    padding-top: 50px;
    text-align: center;
}

#search-input {
    width: 400px; /* Aumenta el ancho del cuadro de búsqueda según tus preferencias */
    height: 60px; /* Aumenta la altura del cuadro de búsqueda según tus preferencias */
    font-size: 16px; /* Aumenta el tamaño del texto dentro del cuadro de búsqueda según tus preferencias */
    font-family: "Pokemon2";
}

#search-button {
    width: 100px; /* Aumenta el ancho del botón de búsqueda según tus preferencias */
    height: 60px; /* Aumenta la altura del botón de búsqueda según tus preferencias */
    font-size: 16px; /* Aumenta el tamaño del texto del botón según tus preferencias */
}

.container {
    padding-top: 5x;
    text-align: center;
}

.user-name {
    font-size: 10px;
    font-family: "Pokemon2";
    color: #ffffff;
}
.user-mail {
    font-size: 10px;
    font-family: "Pokemon2";
    color: #ffffff;
}

.boton{

    text-align: center;
}
